* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e058f);
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo__header {
    display: flex;
    margin-bottom: 2em;
}

.todo__image {
    width: 30px;
    margin-left: 10px;
}

.input__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px;
}

.list__item {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}
.list__item::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("./images/unchecked.png");
    background-size: cover;
    background-position: center;
    left: 8px;
    bottom: 8px;
}
.checked {
    color: #555;
    text-decoration: line-through;
}
.checked::before {
    background-image: url("./images/checked.png");
}

.btn--del {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #555;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
.btn--del:hover {
    background: #edeef0;
}
